

    <div class="modal-body" >


       <%= form_for @day_schedule do |f| %>

         <%= select_tag "opening_hour", options_for_select(@open_times), prompt: "Choose Opening Time"%>
         <%= select_tag "closing_hour", options_for_select(@close_times), prompt: "Choose Closing Time" %>
         <%= hidden_field_tag "day", @date %>
         <%= hidden_field_tag "barber_id", @barber%>
         <%=f.submit :Submit, class: 'btn btn-success'%>
         <%=link_to "Close", "#", class: "btn btn-primary fixing"%>
         <%end%>
    </div>
