<%= month_calendar do |date|%>
  <%if  DaySchedule.find_by(barber_id: @barber.id, date_id: date)%>
    <%= link_to day_schedule_update_path(date: date, barber_id: @barber.id), remote: true, class:"calendar-cell" do %>
    <div class="individual_day" data-day="<%= date %>" style="background-color: #ABFCBE; position:relative; height:100%; width:100%;">
      <%= date.day%>
    </div>
    <%end%>
  <%else%>
    <%= link_to day_schedule_new_path(date: date, barber_id: @barber.id), remote: true, class:"calendar-cell" do %>
    <div class="individual_day" data-day="<%= date %>" style="position:relative; height:100%; width:100%;">
      <%= date.day%>
    </div>
    <%end%>
  <%end%>
<%end%>
