
<% if flash[:notice] %>
    <div id="notice" style="color: red;"><%= flash[:notice] %></div>
<% end %>

<%= form_with(model: barber, local: true) do |form| %>
  <% if @barber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barber.errors.count, "error") %> prohibited this barber from being saved:</h2>

      <ul>
      <% barber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field" style="text-align:center;">
    <%= form.label :name %>
    <%= form.text_field :name, id: :barber_name, placeholder: "Name", class: "form-control" %>
  </div>

  <div class="field" style="text-align:center;">
    <%= form.label :email %>
    <%= form.text_field :email, id: :barber_email, placeholder: "Email", class: "form-control" %>
  </div>
  <div class="field" style="text-align:center;">
    <%= form.label :password %>
    <%= form.text_field :password, id: :barber_password, placeholder: "Password", class: "form-control"  %>
  </div>
  <div class="field" style="text-align:center;">
    <%= form.label :password_confirmation %>
    <%= form.text_field :password_confirmation, id: :barber_password_confirmation, placeholder: "Password Confirmation", class: "form-control"  %>
  </div>
  <div class="field" style="text-align:center;">
    <%= form.label :Yelp_url %>
    <%= form.text_field :url, id: :barber_url, placeholder: "Url", class: "form-control"  %>
  </div>
  <br>

  <div class="field" style="text-align:center;">
    <%= form.label :Barber_Name %>
    <%= form.text_field :barberName, id: :barber_barberName, placeholder: "Phone", class: "form-control"  %>
  </div>
  <br>

  <div class="field" style="text-align:center;">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :barber_phone, placeholder: "Phone", class: "form-control"  %>
  </div>
  <br>

  <div class="field" style="text-align:center;">
    <%= form.label :address %>
    <%= form.text_field :address, id: :barber_address, placeholder: "Address", class: "form-control"  %>
  </div>
  <br>

  <div class="field" style="text-align:center;">
    <%= form.label :Photo_Url %>
    <%= form.text_field :photoUrl, id: :barber_photoUrl, placeholder: "Photo Url", class: "form-control"  %>
  </div>
  <br>

  <div class="actions">
    <p style="text-align:center;">
    <%= form.submit  class: "btn btn-primary btn-lg" %>
    </p>
  </div>

<%end%>

<h2>Plan your schedule:</h2>
<%=render 'create_calendar'%>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align:center;" class="modal-title">Plan your Schedule</h4>
      </div>
      <div id="schedule_model">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
