



<% if flash[:notice] %>
    <div id="notice" style="color: red;"><%= flash[:notice] %></div>
<% end %>

<%= form_with(model: barber, local: true) do |form| %>
  <% if @barber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barber.errors.count, "error") %> prohibited this barber from being saved:</h2>

      <ul>
      <% barber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field" style="text-align:center;">
    <%= form.label :name %>
    <%= form.text_field :name, id: :barber_name, placeholder: "Name", class: "form-control" %>
  </div>

  <div class="field" style="text-align:center;">
    <%= form.label :email %>
    <%= form.text_field :email, id: :barber_email, placeholder: "Email", class: "form-control" %>
  </div>
  <div class="field" style="text-align:center;">
    <%= form.label :password %>
    <%= form.text_field :password, id: :barber_password %>
  </div>
  <div class="field" style="text-align:center;">
    <%= form.label :password_confirmation %>
    <%= form.text_field :password_confirmation, id: :barber_password_confirmation %>
  </div>
  <div class="field" style="text-align:center;">
    <%= form.label :url %>
    <%= form.text_field :url, id: :barber_url %>
  </div>



  <p style="text-align:center;">

  <span> <br>  </span>
  <span> <br>  </span>

  <span style="font-size: 30px;">
    Upload pictures:
  </span>

  <span> <br>  </span>
  <span> <br>  </span>
  </p>



<div class="field">
<%= form.file_field :attachment, class: "attachment"  %>  <!-- Add style "Choose File", class: "btn btn-light" -->
</div>

  <span> <br>  </span>



  <div class="actions">
    <p style="text-align:center;">
    <%= form.submit  class: "btn btn-primary btn-lg" %>
    </p>
  </div>

<%end%>
<%=render 'create_calendar'%>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align:center;" class="modal-title">Plan your Schedule</h4>
      </div>
      <div id="schedule_model">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
