<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Paycut <br>A modern way to get a hair cut.</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <%= form_tag '/search', method: "get" do %>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <%= search_field_tag :name, nil, class: "form-control form-control-lg", placeholder: "Search Barbers"   %>
            </div>
            <div class="col-12 col-md-3">
              <%= submit_tag("Search", class: "btn btn-block btn-lg btn-primary") %>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</header>

<p id="notice"><%= notice %></p>

<h1 style="text-align:center">Paycut</h1>

<hr>



<table class="table table-striped" style="font-size: 22px;">
  <thead>
    <tr>
      <th>Barber</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody class="table table-striped" >
    <% @barbers.each do |barber| %>
      <tr class="thumbnail thumb-box">
        <td style="font-size: 20px;"><%= barber.name %></td>
        <td style="font-size: 20px;"><%= barber.email %></td>
        <td><%= link_to 'Visit Page', barber, class:"btn btn-primary btn-lg"%></td>
        <td><%= link_to 'Edit', edit_barber_path(barber), class:"btn btn-info btn-lg" %></td>
        <td><%= link_to 'Destroy', barber, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-lg"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


  <center>
    <% if current_user%>
    <%= link_to 'Logout', logout_path%>
    <%else%>
    <%= link_to 'Login', login_path, class:"btn btn-success btn-lg" %>
    <%end%> |

    <%= link_to 'New Barber', new_barber_path, class:"btn btn-info btn-lg" %> |

    <%= link_to 'Get Started', new_customer_path, class:"btn btn-primary btn-lg" %> |

    <a href="/barbers"  class="btn btn-warning btn-lg">Back to Home</a>

</center>



<br>
