<p id="notice"><%= notice %></p>

<h1>QuickPay</h1>

<table>
  <thead>
    <tr>
      <th>Barber</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <!-- <%= form_tag(barbers_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Barbers" %>
    <%= submit_tag "Search", :name => nil %>
<% end %> -->

<%= form_tag('/search', method: "get") do %>
  <%= label_tag(:name, "Search for:") %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("Search") %>
<% end %>

<!-- <form accept-charset="UTF-8" action="/search" method="get">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <label for="q">Search for:</label>
  <input name="q" type="text" />
  <input name="commit" type="submit" value="Search" />
</form> -->

  <tbody>
    <% @barbers.each do |barber| %>
      <tr>
        <td><%= barber.name %></td>
        <td><%= barber.email %></td>
        <td class="visit"><%= link_to 'Visit Page', barber %></td>
        <td><%= link_to 'Edit', edit_barber_path(barber) %></td>
        <td><%= link_to 'Destroy', barber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barber', new_barber_path %>

<a href="/barbers">Back to Home</a>
