<header class="masthead1 text-white text-center" >
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">PayCut <br> <span style="font-size:24px;">A modern way to get a hair cut.</span></h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <%= form_tag('/search', method: "get") do %>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <%= search_field_tag :name, nil, class: "form-control form-control-lg", placeholder: "Search Barbers"   %>
            </div>
            <div class="col-12 col-md-3">
              <%= submit_tag("Search", class: "btn btn-block btn-lg btn-info") %>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</header>

   <br>

<div class="row justify-content-md-center">
    <%@barbers.each do |item|%>
    <div class="box" style="margin:15px;">
      <div class="col-md-12" >
        <div class="thumbnail">
          <h2 style= "text-align: center; padding:10px 10px 0 10px;"><%= item.name %></h2>
          <p style= "text-align: center">
            <%=link_to image_tag(item.photoUrl, size: "200x150", style: "border-radius:20px;"), item, class: "img-circle"%>
            <div class="caption" style= "text-align: center">
              <p>
                <%=item.barberName%>
              </p>
              <p>
                <%=item.address%>
              </p>
              <p>
                <%=item.phone%>
              </p>
              <p>
                <%=item.rating%>
                <% item.rating.to_i.times do  %>
                 <span class="fa fa-star checked"></span>
                <% end %>
              </p>
            </div>

          </div>
        </div>
      </div>
    <%end%>
</div>

<br>
