
<p id="notice"><%= notice %></p>
<p style="font-size: 20px;">
  <strong>Barber:</strong>
  <%=@barber.name%>
</p>
<p style="font-size: 20px;">
  <strong>Email:</strong>
  <%= @barber.email %>
</p>

  <p style="font-size: 20px;">
    <strong>Barber shop:</strong>
    <%= @barber.barberName  %>
  </p>
  <p style="font-size: 20px;">
    <strong>Phone:</strong>
    <%= @barber.phone  %>
  </p>
  <p style="font-size: 20px;">
    <strong>Address:</strong>
    <%= @barberstreet  %>,
    <%= @barbercitystatezip%>.
  </p>

  <p style="font-size: 20px;">
    <strong>Rating:</strong>
    <%= @barber.rating %>




  </p>

  <!-- photos -->
  <p style="font-size: 20px;">
    <strong>Photos:</strong>
    <% @barberphotos.each do |photo| %>
      <div class="thumbnail thumb-box">
        <%= image_tag photo, width: "200px;"%>
      </div>
  <% end %>
  </p>



<%= render 'calendar'%>

<br>

<!-- Googlemaps API -->

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map" style="height:30em;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%="#{ENV["MAPS"]}"%>&libraries=places&callback=initAutocomplete"
      async defer></script>

<br>


<%= link_to 'Edit', edit_barber_path(@barber), class:"btn btn-success btn-lg" %> |
<%= link_to 'Destroy', @barber, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-info btn-lg"%> |

<%= link_to 'Back', barbers_path, class:"btn btn-primary btn-lg" %>





<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Plan your Schedule</h4>
      </div>
      <div id="schedule_model">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>




