<p id="notice"><%= notice %></p>

<h1><%=@barber.name%></h1>

  <strong>Email:</strong>
  <%= @barber.email %>
</p>
<div class="calendar">
<%= month_calendar do |date|%>
<div class="individual_day" data-day="<%= date %>" style="position:relative; height:100%; width:100%;">
  <%= date.day%>
</div>
<%end%>
</div>

<%= link_to 'Edit', edit_barber_path(@barber) %> |
<%= link_to 'Back', barbers_path %>
<%= link_to 'Schedule', @barber.get_appointment %>
