  <!-- Masthead -->
<header class="masthead1 text-white text-center" >
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">PayCut <br> <span style="font-size:24px;">A modern way to get a hair cut.</span></h1>
      </div>

    </div>
  </div>
</header>


<div class="background">

   <p id="notice"><%= notice %></p>

   <h1 style="text-align:center">Customers</h1>

<br>

  <div class="row justify-content-md-center">

    <% @customers.each do |customer| %>
     <div class="box" style="margin:15px;">
       <div class="col-md-12" >
         <div class="thumbnail">

           <h2 style= "text-align: center; padding:10px 10px 0 10px;"><%= customer.name %></h2>
           <%=link_to image_tag("chair3.jpg", size: "200x150", style: "border-radius:20px;"), customer, class: "img-circle"%>
           <div class="caption" style= "text-align: center">
             <p>
               <%= customer.email %>
             </p>
             <p>
               <%= link_to 'Edit', edit_customer_path(customer), class:"btn btn-info"  %> |
               <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
             </p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
 </div>
</div>

<br>

<center>
 <%= link_to 'New Customer', new_customer_path, class:"btn btn-info btn-lg" %>

</center>


<br>
