<!DOCTYPE html>
<html>
<head>
  <title>QuickPay</title>
  <%= include_gon%>
  <%= csrf_meta_tags %>
  <%= include_gon %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <!-- This line was changed for the css 4.0.0 update version     -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- This line was changed for the js 4.0.0 update version     -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">



</head>
<body>

  <nav  class="navbar navbar1 fixed-top z-depth-5">
    <span class="navbar-brand" style="font-size: 30px;">Paycut</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>




    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%if current_user %>
           <%if Customer.find_by(email: current_user.email) %>
             <li><%= link_to "Profile", "/customers/#{current_user.id}/edit", class:"nav-item nav-link active" %></li>
             <li><%= link_to "Logout",  logout_path, class:"nav-item nav-link active"  %></li>

           <%else%>
             <li><%= link_to "Profile", "/barbers/#{current_user.id}/edit", class:"text-white nav-item nav-link active" %></li>
             <li><%= link_to "Logout",  logout_path, class:"text-white nav-item nav-link active"  %></li>

           <%end %>
         <%else %>
             <li><%= link_to "Login",  login_path, class:"text-white nav-item nav-link active"  %></li>

         <%end %>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-dark bg-primary">
    <!-- Navbar content -->
  </nav>

</div>





<br><br>

<%= yield %> <br>
<br>
<br>






<!-- Footer -->
<footer class="footer bg-light" style="padding-top:50px; padding-bottom:50px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>

          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; PayCut 2018. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fa fa-facebook fa-2x fa-fw" style="color:#395899;"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fa fa-twitter fa-2x fa-fw" style="color:#0577b6"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-instagram fa-2x fa-fw" style="color:#ed7139"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
